<!DOCTYPE html>
<html>

<head>
	<title>LHD - Laptops</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>




<body>
	<nav>
		<div class="nav-wrapper container">
			<ul id="nav-mobile" class="right">
        		<li><a href="laptops.html">Returned Laptops</a></li>
        	 </ul>
		    <form class="col s12 brand-logo">
		      <div class="row">
		        <div class="input-field col s12">
		          <i class="material-icons prefix">search</i>
		          <input id="icon_prefix" type="text" class="validate">
		        </div>
		      </div>
		    </form>
		</div>
	</nav>
	<div class='container'>
		<h2>Students Who Didn't Return Laptops:</h2>
    <br>
    <h5>Student A</h5>
    <h5>Student B</h5>
    <h5>Student C</h5>
</body>

</html>