<!DOCTYPE html>
<html>

<head>
	<title>LHD - Register</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<script>
	 $(document).ready(function() {
    $('select').material_select();
  });
            
</script>
{% from "formhelper.html" import render_field %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
	<nav>
		<div class="nav-wrapper container">
			<ul id="nav-mobile" class="right">
				<li><a href="/">Home</a></li>
				<li><a href="need-laptop.html">Needs Laptops</a></li>
        		<li><a href="laptops.html">Unreturned Laptops</a></li>
        	 </ul>
		    <form class="col s12 brand-logo" method="post" action="/">
		      <div class="row">
		        <div class="input-field col s12">

				  <i class="material-icons prefix">search</i>
		          {{ form2.search }}
		        </div>
		      </div>
		    </form>
		</div>
	</nav>
	<div class='container'>
		<h2>{{ user.first_name + " " + user.last_name }}</h2>
		<br>
		<h4>Student Stuff:</h4>
		<br>
		<div class="container">
			<form action="{{ url_for('lookup_user', id=user.id) }}" method="post">
			   	  <select id="workshops" multiple name="workshops">
	<option value="0" {% if mine %} selected {% endif %}>Minecraft Mods</option>
	<option value="1" {% if python %} selected {% endif %}>Python</option>
	<option value="2" {% if web %} selected {% endif %}>Web Dev</option>
	<option value="3" {% if arduino %} selected {% endif %}>Arduino</option>
	<option value="4" {% if scratch %} selected {% endif %}>Scratch</option>
</select>			   	  
{{ form.id }}
<br>
			   	  
			   	  <label for="laptop_id">Laptop id</label>
			   	  {{ form.laptop_id }}
			   	  <br>
{{ form.laptop_out }}
			   	  <label for="laptop_out">Laptop out</label>
			   	  <br>
			   	  <br>
			    <button class="waves-effect waves-light btn">Save</button>
			</form>
		<h3>First Block: {% if slot1 is defined %} {{slot1}} {% endif %}</h3>
		<h3>Second Block: {{ slot2 }}</h3>
		<h3>Third Block: {{ slot3 }}</h3>
		<h3>Fourth Block: {{ slot4 }}</h3>

		</div>
	</div>
</body>

</html>